@page "/about"

<h1>About</h1>


<div class="form-group">

    <p>
        This web tool was build to mainly track bad habit relapses.
        <br />
        Whether someone wants to quit smoking, binge eating, overspending, pornography, alcohol abuse, etc.
        <br />
        This tool is meant to provide insight on how frequently these bad behaviors occur.
    </p>

    <div class="card card-body">
        <strong>Instructions:</strong>
        <p>
            Click a day on the calendar to mark a bad day (red). Un-clicked days are marked as green automatically which means a good day.
        </p>

        <p>You can add a note on the day to describe any activity for that day.</p>

        <p>
            You can also add color coded events to a day to keep track of independently in the Statistics section.
            <br />
            Note: You must add the Event first from the Events section in order to add it to a day.
            <br /> <br />
            <i>All data is locally stored in your browser. Not saved anywhere else.</i>
        </p>
    </div>

</div>

<div class="form-group">

</div>

<br />
<hr />
<div class="form-group">

    WebApp built by <a target="_blank" href="http://www.thomasrosales.com">Thomas Rosales</a> using Blazor .NET WebAssembly

    <br />   <br />
    If you like this tool or if it has helped you in any way <a target="_blank" href="https://www.buymeacoffee.com/cAo2gSh">buy me a coffee!</a>
</div>

