@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject IJSRuntime js

<h1>Settings</h1>

<input id="Button1" type="button" @onclick="exportSettings" value="Export JSON" />

@jsonCalendar?.ToString()

@code
{
    public object jsonCalendar { get; set; }
    public async Task exportSettings()
    {
        var jsonCalendar = await localStore.GetItemAsync<object>("Calendar");
        var bytes = System.Text.Encoding.UTF8.GetBytes(jsonCalendar.ToString());

        await SaveAs(js, "settings.json", bytes);
    }


    public static async Task SaveAs(IJSRuntime js, string filename, byte[] data)
    {
        await js.InvokeAsync<object>(
            "saveAsFile",
            filename,
            Convert.ToBase64String(data));
    }
}

