@page "/about"

<h1>About</h1>


<div class="form-group">

    <p>
        Activity Tracker v4 is a web application designed to help users enhance productivity and monitor daily activities. It offers tools to log your day-to-day events, track your progress, and maintain a personal journal.
 

    </p>
    
    <p>
        <h3>Key Features:</h3>
        <ul>
            <li><strong>Daily Productivity Ratings:</strong> Rate your day on a scale from 1 to 10, reflecting how well it went.</li>
            <li><strong>Activity Logging:</strong> Add and categorize activities or events for each day.</li>
            <li><strong>Expense Tracking:</strong> Record daily expenses to keep track of your spending habits.</li>
            <li><strong>Journal Entries:</strong> Write daily journal entries to reflect on your thoughts and experiences.</li>
            <li><strong>Statistics Overview:</strong> View summarized insights about your monthly progress and the frequency of specific activities.</li>
            <li><strong>Color-Coded Events:</strong> Assign colors to specific events for better organization and tracking.</li>
        </ul>
    </p>

    <div class="card card-body">
       
        <p>
            This tool is perfect for anyone looking to stay organized, improve productivity, or keep a record of their life's journey.
        </p>

    </div>

</div>

<div class="form-group">

</div>

<br />
<hr />
<div class="form-group">

    WebApp built by using Blazor .NET WebAssembly
    <br/>
    Author: Thomas Rosales
</div>

